@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

a,
.green {
  text-decoration: none;
  color: rgb(214, 2, 2);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 50%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }

  #app {
    grid-template-columns: 1fr 1fr;
  }
}
